/* CustomScrollPanel.css */

.custom-scrollpanel .p-scrollpanel.custombar1 .p-scrollpanel-wrapper {
    border-right: 10px solid var(--surface-ground);
}

.custom-scrollpanel .p-scrollpanel.custombar1 .p-scrollpanel-bar {
    background-color: var(--primary-300);
    opacity: 1;
    transition: background-color 0.3s;
}

.custom-scrollpanel .p-scrollpanel.custombar1 .p-scrollpanel-bar:hover {
    background-color: var(--primary-400);
}

.custom-box {
    border: 2px dashed;
    border-color: var(--surface-border);
    background-color: var(--surface-ground);
    border-radius: var(--border-round);
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    padding-left: 10px;
    text-align: start;
}

/* .custom-container:has(#do-test-page) {
    
 
} */

#user-layout:has(#do-test-page) {
    margin: 20px auto !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
.family-font {
    font-family: var(--font-family);
}

.test-resouce {
    min-height: 50px;
    overflow-y: auto;
    min-width: 600px;
    max-height: 700px;
}

.test-quest {
    min-height: 50px;
    overflow-y: auto;
    max-height: 700px;
    flex: 1 1 auto
}